* {
	/*Default Font*/
	font-family: 'Roboto', sans-serif;
}
h1, h2 {
	font-family: 'Montserrat', sans-serif;
}
img {
	height: 250px;
	width: 250px;
}
#landing {
	height: 80vh;
	/*center the content horizontally and vertically using flexbox*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#gallery {
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 6px;
}
ul {
	list-style: none;
	padding: 0;
}
h2 {
	color: #007bff;
}
.tools {
	padding: 25px;
	border: 5px solid #f2f2f2;
	margin: 10px;
	height: 210px;
	width: 75%;
}
html {
	scroll-behavior: smooth;
}